#connected-section {
    width: 100%;
    height: max-content;
}

.connected {
    margin: 30px 10px;
    border: 1px solid #9292927a;
    border-radius: 5px;
    width: max-content;
}

.con-header { margin: 10px 20px; }

.red { color: rgba(252, 41, 41, 0.774); }
.green { color: rgba(99, 230, 99, 0.849); }

.code-block {
    height: 50px;
    margin: 20px 20px;
}

#onetime-code, #delivery-name {
    height: 27px;
    border: 1px solid #5d5d5d94;
    border-radius: 5px;
    margin-right: 20px;
    padding: 0px 10px;
    color: #353333;
    width: 300px;
}

#onetime-code:focus, #delivery-name:focus, #delivery-type:focus { outline: none; }

.con-small {
    width: 300px;
    height: 100px;
}

@media(max-width: 650px) {
    #onetime-code, #delivery-name {width: 150px;}
    #delivery-type, #onetime-code {width: 240px;}
    #onetime-code {
        margin: 10px 0px;
        width: 200px;
    }
    #delivery-name {
        margin-right: 0;
        margin-bottom: 10px;
        width: 250px;
    }
    .connected {width: 400px;}
    .code-block { height: max-content;}
}

@media(max-width: 500px) {
    .connected {width: 280px;}
}